body {
  padding: 0px !important;
  margin-top: 0px;
}

header {
  background-color: #1e90ff;
}

h1 {
  margin: 0px !important;
  color: white;
}

h3 {
  margin: 5px !important;
  padding-bottom: 15px;
}

.container {
  align-items: center;
  padding: 10px;
}

.container p {
  color: white;
}

.container-main h1 {
  padding-bottom: 17px;
}

main {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main {
  width: 90vw;
  margin-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
  text-align: left;
}

.container-main p {
  padding-bottom: 13px;
  color: black;
}

.container-cardsAll {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  display: flex;
  height: 100%;
  margin: 10px;
}

.article-view h1 {
  color: black;
}

.card-body {
  display: flex;
  height: 80%;
  flex-direction: column;
}

.card-body-links {
  display: flex;
  height: 20%;
  align-self: flex-start;
  padding-left: 5px;
  padding-right: 5px;
}

.title-area-article {
  width: 100%;
}

.text-area-article {
  width: 100%;
  height: 300px;
}

.post-btn {
  margin-top: 30px;
}

.container {
  text-align: center;
}

.article-view {
  text-align: left;
}

.container-cardsAll a {
  background-image: none !important;
  text-decoration: none !important;
}

/* unvisited link */
.container-cardsAll a:link {
  color: blue;
  text-decoration: none;
}

/* visited link */
.container-cardsAll a:visited {
  color: blue;
  text-decoration: none;
}

/* mouse over link */
.container-cardsAll a:hover {
  color: blue;
  text-decoration: none;
}

/* selected link */
.container-cardsAll a:active {
  color: blue;
  text-decoration: none;
}
